@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@100;300;400;500&display=swap');

* {
    box-sizing: border-box;
}
body {
    background-color: #e8d6ec;
}
header {
    text-align: center;
    font-family: "Open Sans";
    font-size: 1.8rem;
    text-shadow: 3px 2px 1px #b9abe0;
    color: #0e172c;
    background-color: white;
    margin: 10px 0;
}
main {
    display: grid;
    grid-template-columns: auto minmax(400px, 600px) auto;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    grid-column: 2/3;
}
li {
    padding: 5px 20px;
    margin: 5px;
    font-family: "Raleway";
    font-size: 1.2rem;
    border: 1px solid black;
    border-radius: 2px;
    background-color: #cbc4e9;
}
li:hover {
    border-left: 4px solid #4e033e;
}
a {
    text-decoration: none;
}
span {
    padding: 10px;
    font-family: "Open Sans";
    font-size: 1.3rem;
}